name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: npm install -g bats
      - run: bats -v
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "this is build stage"
  test:
    runs-on: ubuntu-latest
      - run: echo "this is test stage"
  deploy:
    runs-on: ubuntu-latest
      - run: echo "this is deploy stage"
