
name: pipeline
run-name: ${{ github.actor }} run pipeline
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
      - 'ansible/*'
      - 'images/*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: build
        run: echo "build"

  docker:
    runs-on: ubuntu-latest
    needs: build
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/devops_test
  deploy:
    runs-on: ubuntu-latest
    needs: [build, docker]
    steps:
      - run: echo "this is deploy stage"
